* {
  margin: 0;
  box-sizing: border-box;
  border: none;
}
body {
  background-color: #dbdbdb;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.overlay {
  z-index: 50;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup {
  z-index: 100;
  position: fixed;
  top: 200px;
  left: 200px;
  right: 200px;
  background-color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header p {
  background-color: black;
  color: #dbdbdb;
  font-size: 15px;
  border-radius: 30px;
  padding: 15px;
  margin: 20px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 1);
}
.header button {
  background-color: black;
  color: #dbdbdb;
  font-size: 15px;
  border-radius: 30px;
  padding: 15px 0px;
  margin: 20px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 1);
}

.projects {
  border-top: 2px solid black;
  padding: 10px;
}

.flex-title {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
}
.block-title {
  display: block;
}
/* .project-1:hover .flex-title {
  display: block;
  white-space: normal;
}

.project-1:hover .text {
  display: block;
}
.project-1:hover img {
  display: block;
} */
.projects p {
  font-size: 30px;
}

.projects .italics {
  font-family: Times, "Times New Roman", serif;
  font-style: italic;
  padding-left: 20px;
}

.projects .text {
  padding: 10px 10px 10px 20px;
  font-size: 15px;
}

.flex-imgs {
  display: flex;
  overflow-x: scroll;
  align-items: center;
}
.flex-imgs img {
  padding-right: 10px;
}
.flex-about {
  padding: 10px;
  border-top: black solid 2px;
  font-family: Times, "Times New Roman", serif;
  font-size: 20px;
}

.education span {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.flex-education {
  display: flex;
  flex-wrap: wrap;
}

.education {
  margin-top: 20px;
}

#margin-left {
  margin-left: 20px;
}
.flex-imgs a img {
  cursor: pointer;
}
.projects .link p {
  font-size: 15px;
  cursor: pointer;
}
@media only screen and (min-width: 900px) {
  .flex-about {
    display: flex;
  }
  .about {
    width: 50%;
  }
  .education {
    margin-left: 40px;
    margin-top: 0px;
  }
  .projects {
    display: flex;
  }
  .projects p {
    font-size: 50px;
  }
  .projects .text {
    width: 80%;
    font-size: 17px;
  }
  .block-title {
    width: 100%;
  }
  .flex-imgs {
    width: 100%;
  }
  .flex-title {
    justify-content: space-between;
    width: 100%;
  }
  #img50 {
    width: 60%;
  }
  #img60 {
    width: 60%;
  }
}
